html {
  background-color: #508e13;
  background-image: url(img/summer/bg-greenhills.jpg);
  background-position: center top;
  background-repeat: repeat-x;
  color: #fff;
  font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.4em;
  text-align: center;
  height: 100%;
}

p {
  font-size: 18px;
  margin-bottom: 24px;
  font-weight: bolder;
  line-height: 1.3em;
}

h1 {
  background-image: url(img/summer/summer-camp-sign.png);
  background-repeat: no-repeat;
  height: 180px;
  width: 1100px;
  margin: 0 auto 14px;
}

h2 {
  font-weight: bolder;
  font-size: 48px;
  margin: 0 0 44px;
  font-family: "Arial Black", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#camp-info h2 {
  font-size: 40px;
  color: #60cae5;
  margin-bottom: 24px;
}

#footer h2 {
  font-size: 40px;
  color: #d366a7;
  margin-bottom: 24px;
}

h3 {
  font-size: 24px;
  font-weight: normal;  
  margin: 0 0 24px;
  line-height: 1.2em;
}

h3.actions {
  margin-top: 44px;
  font-weight: bolder;
}

#camp-info h3 {
  font-weight: bolder;
  font-family: "Arial Black", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#footer h3 {
  color: #191709;
  font-size: 16px;
  margin-bottom: 0;
}

h3.info-spec {
  font-weight:bolder;
}

a#register, a#more-info {
  font-size: 28px;
  font-weight: bolder;  
  text-decoration: underline;
}

a, a:visited {
  color: #fdee19;
}
a.register {
  color: #fbaa19;
}
a:hover {
  color: #191709;
}
#footer h3 a {
  color: #191709;
}
#footer h3 a:hover {
  color: #fdee19;
}

div#contents {
  padding: 5px 0 0;
  width: 100%;
}

#camp-teaser {
  width: 1000px;
  margin: 0 auto;
  text-align: left;
}

#camp-teaser .left {
  width: 330px;
  padding: 20px 9px;
}

#camp-teaser .right {
  width: 560px;
  margin-top: 16px;
}

#camp-teaser .right h2 {
  font-size: 28px;
  position: absolute;
  z-index: 100;
  top: 5px;
  left: 18px;
  margin: 0;
}

ul#ticket-includes {
  margin-top: 40px;
}

ul#ticket-includes li {
  float: left;
  margin: 0 2px;
}

#camp-info {
  clear: both;
  text-align: left;
  width: 990px;
  margin: 130px auto 0;
}

ul#walker-creek-pics {
  margin-bottom: 10px;
}

ul#walker-creek-pics li {
  float: left;
  margin: 10px 0;
  border: 6px solid #fff;
  height: 225px;
  width: 300px;
  overflow: hidden;
}

ul#walker-creek-pics li.middle {
  margin: 10px 20px;
}


#footer {
  width: 100%;
  margin-top: 60px;
  background-color: #292318;  
  position: relative;
  padding-top: 60px;
  border-top: 36px solid #191709;
}

#footer .contents {
  width: 1000px;
  padding: 36px 0;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#footer .actions {
  margin-top: 0;
}

#footer ul {
  min-height: 225px;
  padding: 40px 20px 20px;
  width: 705px;
  margin: 0 auto;
}

#footer ul li {
  margin: 0 0 20px;
  height: 100px;
  vertical-align: middle;
}

#footer ul li.middle {
  margin: 0 40px 20px;
}