html {background-color:#4F4F4F;}

@font-face {
  font-family: 'Reenie Beanie';
  font-style: normal;
  font-weight: normal;
  src: local('Reenie Beanie'), local('ReenieBeanie'), url('http://themes.googleusercontent.com/font?kit=ljpKc6CdXusL1cnGUSamX4jjx0o0jr6fNXxPgYh_a8Q') format('truetype');
}
@font-face {
  font-family: 'Cantarell';
  font-style: normal;
  font-weight: normal;
  src: local('Cantarell Regular'), local('Cantarell-Regular'), url('http://themes.googleusercontent.com/font?kit=V86VyqXbc09Sss3BPsMj16CWcynf_cDxXwCLxiixG1c') format('truetype');
}

@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: normal;
  src: local('Inconsolata'), url('http://themes.googleusercontent.com/font?kit=BjAYBlHtW3CJxDcjzrnZCJ0EAVxt0G0biEntp43Qt6E') format('truetype');
}

a:link, a:visited {
  color:#BFEFFF;
  text-decoration:none;
}

div.main-header {
  width:100%;
}

div.logo {
  width:100%;
  text-align:center;
  padding-top:10%;
}

/*div.info {
  text-align:center;
  font-size:80px;
  color:#E3E3E3;
  font-family:Reenie Beanie;
}*/

div#logo {
  float:left;
  padding-top:2px;
  width:45%;
}
div#info {
  float:left;
  width:15%;
}
div.header-space {
  float:left;
  width:20%;
}

div.info-on-page {
  font-size:180%;
  text-align:left;
  padding-top:3%;
  padding-left:5px;
  color:#E3E3E3;
  font-family:Reenie Beanie;
}
img.info-on-page {
  width:35%;
}

div.spacer {
  clear:both;
}

/* Call for proposals */

div#proposals {
  width:100%;
  font-size:30px;
}
div#proposal-editor {
  float:left;
  padding-left:2%;
  width:46%;
}
div#proposal-preview {
  float:left;
  width:48%%;
  padding-right:2%;
  padding-left:2%;
  padding-top:20px;
  font-family:Cantarell;
  color:#E0E0E0;
}

div#proposal-editor div {
  color:#E0E0E0;
  font-family:Reenie Beanie;
}

div#proposal-info {
  color:#E0E0E0;
  font-family:Cantarell;
  text-align:center;
  padding-bottom:15px;
}
div#proposal-info p {
  padding-left:20%;
  padding-right:20%;
  text-align:left;
}

div#proposals input, div#proposals textarea {
  font-size:20px;
  width:100%;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color:#E0E0E0;
}

div#proposals textarea {
  height:500px;
}

div#proposals textarea#proposal-notes {
  height:200px;
}

div#proposals  div.license {
  width:100%;
  font-family:Cantarell;
  font-size:15px;
  margin-top:15px;
  margin-bottom:15px;
}
div#proposals input.license {
  float:left;
  width:20px;
}

/*Preview*/

div.speaker- {
  width:100%;
}
div.proposal-name {
  float:left;
}
div.proposal-avatar {
  float:right;
}
img.proposal-avatar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  text-align:right;
}

div.proposal-name {
  font-size:35px;
  padding-top:5px;
  padding-left:10px;
}

div.proposal-short {
  font-size:35px;
  padding-top:5px;
  padding-left:10px;
}

div.proposal-desc {
  font-size:20px;
  padding-top:18px;
}

div#speaker-info {
  padding-top:20px;
  padding-bottom:20px;
}

img.twitter-picture {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/*Twitter*/

div.speaker-twitter-info {
  width:100%;
}
div.speaker-twitter-name {
  padding-left:15px;
  float:left;
}
div.speaker-twitter-picture {
  float:left;
}
div.speaker-twitter-description {
  font-size:15px;
}
div.speaker-twitter-followcount {
  float:left;
  font-size:22px;
  padding-left:20px;
  padding-top:5px;
}

/*GitHub*/
div.speaker-github-info {
  width:100%;
}
div.speaker-github-url {
  padding-left:15px;
  float:left;
}
div.speaker-github-picture {
  float:left;
}
div.speaker-github-followcount {
  float:left;
  font-size:18px;
  padding-left:55px;
}
div.speaker-github-repos {
  float:left;
  font-size:18px;
  padding-left:20px;
}

div#location-map {
  height: 150px;
  width: 100%;
  margin-top:10px;
  margin-bottom:20px;
}
img.github-picture {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

div.submit {
  width:100%;
  text-align:center;
}
span.submit-button {
  background-color: #DCDCDC; 
  padding: 0px 5px 2px 3px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border: 2px solid;
  border-color:#BEBEBE;
  cursor:pointer;
  color:#5E5E5E;
}
span.submit-hover {
  background-color: #B3B3B3; 
  border-color: #DCDCDC;
}
div#submit-error {
  color:#FF7D40;
  font-size:15px;
  padding-top:5px;
}

/*Show Proposal*/

div.talk {
  padding-left:10%;
  padding-right:10%;
  font-family:Cantarell;
  font-size:20px;
  color:#E0E0E0;
}
div.talk-header {
  text-align:center;
}
div.talk-speaker {
  width:100%;
}
div.talk-title {
  font-size:45px;
}
span.talk-speaker-name {
  font-size:35px;
  padding-bottom:5px;
}
div.talk-speaker img {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  margin-right:5px;
}

div.talk-speaker-info {
  width:100%;
}
div.talk-speaker-twitter {
  float:left;
  width:50%;
}
div.talk-speaker-github {
  float:left;
  width:50%;
}
div.render-container {
  text-align:center;
  padding-bottom:25px;
}
blockquote {
  font-family:Inconsolata;
}
div.talk-notes {
  padding-bottom:15px;
}
span#call-for-proposals {

/*  border-style:solid;
  border-width:1px;*/
  margin-top:35px;
  
  font-size:40px;
  padding: 5px 5px 5px 5px;
  cursor:pointer;
}
div#call-for-proposals {
   margin-top:35px;
   font-family:Reenie Beanie;
   color:#E0E0E0;
   text-align:center;
}
div#deadline {
  margin-top:10px;
  text-align:center;
  font-size:15px;
  font-family:'Georgia';
}
.logo-image {z-index:1; width:100%; height:auto;}
div#main-speakers {
  width:100%;
  text-align:center;
  margin-top:20px;
  
  
}
span.sep {
  width:35px;
}
img.gravatar {
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  
  box-shadow: 0 0 4px #858585;
  -moz-box-shadow: 0 0 4px #858585;
  -webkit-box-shadow: 0 0 4px #858585;
}
div#main-talk-details {
  width:100%;
}