<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>NodeConf 2012</title>
<!--[if IE]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<style>
  article, aside, details, figcaption, figure, footer, header,
  hgroup, menu, nav, section { display: block; }

  html {font-size:100.01%;}
  body {
    margin: 0;
    font-size: 100%;
    color: #059fd2;
    background: #f4ede7 url(images/bg.png) repeat 0 0;
    font-weight: 400;
  }
  body, input, textarea {
    font-family: "Proxima Nova", "proxima-nova-alt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  .main {
/*    background: rgba(255,255,255,.7); */
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    min-width: 280px;

    max-width: 640px;

    padding: 0 20px;

    border-top: 6px solid #059fd2;
  }

  header {
    margin-bottom: 72px;
  }

  .btn_cntr {
    width: 268px;
    margin: 24px auto;
    padding: 12px 0;
    border-top: 3px dotted #FFF;
    border-bottom: 3px dotted #FFF;
  }

  .btn {
    display: block;
    width: 180px;
    height: 60px;
    margin: 12px auto;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    line-height: 60px;
    font-size: 24px;
    letter-spacing: .15em;
  }

  a.btn,
  a.btn:link,
  a.btn:visited {
    color: #FFF;
    text-decoration: none;
    background-color: #059fd2;
  }

  a.btn:hover,
  a.btn:active,
  a.btn:focus {
    color: #FFF;
    text-decoration: none;
    background-color: #05c5ea;
  }

  .sponsors {
    margin-bottom: 4.5em;
    padding: 3em 0;
    text-align: left;
    overflow: hidden;
  }
  .images-sponsors {
    margin: 0 auto;
    max-width: 1200px;
  }
  .sponsors-logo {
    max-width: 40%;
    padding: 4%;
  }

  h1, h2, h3, h4 {
    color: #f94e38;
  }

  h1 {
    font-weight: bold;
    font-size: 4em;
    letter-spacing: .01em;
    line-height: 1.5;
    display: block;
    width: 268px;
    height: 268px;
    margin: 36px auto;
    background: transparent url(images/nodeconf_logo_small.png) no-repeat 50% 0;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .info {
    display: block;
    text-transform: uppercase;
    letter-spacing: .25em;
  }

  .info span {
    text-align: center;
    display: block;
    font-weight: 800;
  }

  .location {
    font-size: 32px;
  }

  .date {
    font-size: 16px;
    letter-spacing: .15em;
  }

  h2 {
    font-weight: 800;

    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .25em;

    text-align: center;
  }
  section {
    text-align: left;
    margin-bottom: 72px;
  }

  p {
    margin-bottom: 1.5em;
  }
  a,
  a:link,
  a:visited {
    color: #F94E38;
    text-decoration: underline;
  }
  a:hover,
  a:active,
  a:focus {
    color: #E53A24;
    text-decoration: underline;
  }

 /*
   .rhomb {
     display: inline-block;
     width: .25em;
     height: .25em;
     background: #ECE2D8;
     -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transform-origin: 0 100%; -moz-transform-origin: 0 100%; -ms-transform-origin: 0 100%; -o-transform-origin: 0 100%; transform-origin: 0 100%;
   }
 */
  .hint {
    background: #F94E38;
    color: #FFF;
    padding: 1em;
  }

  .hint a,
  .hint a:link,
  .hint a:visited {
    color: #FFF;
    text-decoration: underline;
  }
  .hint a:hover,
  .hint a:active,
  .hint a:focus {
    color: #FFF;
    text-decoration: underline;
  }

  div.images {
    width: 100%;
  }
  div.images img {
    width: 48%;
    padding-left: 1%;
    text-align: center;
  }


  footer {
    background: #059fd2;
    color: #7bd0ec;
    font-size: 14px;
    margin: 0;
    padding: 24px 0;
    text-align: center;
  }

  footer a,
  footer a:link,
  footer a:visited {
    color: #f4ede7;
    text-decoration: none;
  }

  footer a:hover,
  footer a:active,
  footer a:focus {
    color: #f4ede7;
    text-decoration: underline;
  }
  
  

</style>

<link rel="icon" href="favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

<script type="text/javascript" src="http://use.typekit.com/ioc3jun.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>


<script type="text/javascript">
  var analyticsFileTypes = [''];
  var analyticsEventTracking = 'enabled';
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-33374925-2']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>
  <div class="main">

      <header>
        <h1>
          NodeConf 2012
        </h1>

        <p class="info">
          <span class="location">Portland</span>
          <span class="date">July 2nd &amp; 3rd 2012</span>
        </p>

      </header>

      <section class="sponsors">
        <h2>Sponsors</h2>

        <div class="images-sponsors">
          <a href="http://www.yammer.com"><img class="sponsors-logo" src="images/logo_yammer.png" /></a>
          <a href="http://www.joyent.com"><img class="sponsors-logo" src="images/logo_joyent.png" /></a>
        </div>
        <div class="images-sponsors">
          <a href="http://www.voxer.com"><img class="sponsors-logo" src="images/logo_voxer.png" /></a>
          <a href="http://www.nodejitsu.com"><img class="sponsors-logo" src="images/logo_nodejitsu.png" /></a>
        </div>
        <div class="images-sponsors">
          <a href="http://andyet.net" style="text-decoration:none">
            <img class="sponsors-logo" style="max-height:120px;padding-right:15%;padding-left:15%;padding-top:0" src="images/andyet-logo.png" />
          </a>
          <a href="http://www.ensighten.com/">
            <img class="sponsors-logo" src="images/ensighten_logo_large.png" style="margin-bottom:10px"/>
          </a>
        </div>
        
        <div class="images-sponsors">
          <a href="http://www.mozilla.org" style="text-decoration:none">
            <img class="sponsors-logo" src="images/mozilla.png" style="margin-left:20px" ></img>
          </a>
          <a href="http://www.sendgrid.com">
            <img class="sponsors-logo" src="images/sendgrid.png" style="margin-left:40px" />
          </a>
        </div>
      </section>
      
      <section class="theatre">
        
        <h3>NodeConf Theatre</h3>
        {{{speakers}}}
      </section>

  </div>

  
  <footer>
    <p>
      Watch <a href="http://twitter.com/nodeconf">@NodeConf</a> for updates.
    </p>
  </footer>


</body>
</html>